{{- if .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "affine.fullname" . }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  {{- if .Values.ingress.tls }}
  tls:
    {{- toYaml .Values.ingress.tls | nindent 4 }}
  {{- end }}
  rules:
    {{- range .Values.ingress.hosts }}
    - host: {{ .host | quote }}
      http:
        paths:
          - path: /socket.io
            pathType: Prefix
            backend:
              service:
                name: {{ include "affine.fullname" $ }}-sync
                port:
                  number: 3010
          - path: /graphql
            pathType: Prefix
            backend:
              service:
                name: {{ include "affine.fullname" $ }}-graphql
                port:
                  number: 3000
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: {{ include "affine.fullname" $ }}-graphql
                port:
                  number: 3000
          - path: /workspace
            pathType: Prefix
            backend:
              service:
                name: {{ include "affine.fullname" $ }}-renderer
                port:
                  number: 3000
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "affine.fullname" $ }}-web
                port:
                  number: 8080
    {{- end }}
{{- end }}
