apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "appflowy.fullname" . }}-cloud
  {{- with .Values.deploymentAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: appflowy-cloud
  template:
    metadata:
      labels:
        app: appflowy-cloud
    spec:
      containers:
      - name: appflowy-cloud
        image: {{ .Values.appflowy.cloud.image.repository }}:{{ .Values.appflowy.cloud.image.tag }}
        env:
        - name: RUST_LOG
          value: {{ .Values.appflowy.cloud.rustLog }}
        - name: APPFLOWY_ENVIRONMENT
          value: "production"
        {{- if not .Values.postgresql.enabled }}
        - name: DB_USERNAME
          {{- include "appflowy.dbUsername" . | nindent 10 }}
        - name: DB_PASSWORD
          {{- include "appflowy.dbPassword" . | nindent 10 }}
        {{- end }}
        {{- if and (not .Values.redis.enabled) (or .Values.appflowy.externalRedis.password.value .Values.appflowy.externalRedis.password.secret.name) }}
        - name: REDIS_PASSWORD
          {{- include "appflowy.redisPassword" . | nindent 10 }}
        {{- end }}
        - name: APPFLOWY_DATABASE_URL
          value: {{ include "appflowy.databaseUrl" . | quote }}
        - name: APPFLOWY_REDIS_URI
          value: {{ include "appflowy.redisUrl" . | quote }}
        - name: APPFLOWY_GOTRUE_JWT_SECRET
          {{- include "appflowy.jwtSecret" . | nindent 10 }}
        - name: APPFLOWY_GOTRUE_BASE_URL
          value: "{{ include "appflowy.baseUrl" . }}/gotrue"
        - name: APPFLOWY_S3_CREATE_BUCKET
          value: {{ .Values.appflowy.s3.createBucket | quote }}
        - name: APPFLOWY_S3_USE_MINIO
          value: {{ .Values.appflowy.s3.useMinio | quote }}
        - name: APPFLOWY_S3_MINIO_URL
          value: {{ .Values.appflowy.s3.minioUrl | quote }}
        - name: APPFLOWY_S3_ACCESS_KEY
          {{- include "appflowy.s3AccessKey" . | nindent 10 }}
        - name: APPFLOWY_S3_SECRET_KEY
          {{- include "appflowy.s3SecretKey" . | nindent 10 }}
        - name: APPFLOWY_S3_BUCKET
          value: {{ .Values.appflowy.s3.bucket | quote }}
        - name: APPFLOWY_S3_REGION
          value: {{ .Values.appflowy.s3.region | quote }}
        - name: APPFLOWY_BASE_URL
          value: {{ include "appflowy.baseUrl" . | quote }}
        - name: APPFLOWY_WEB_URL
          value: {{ include "appflowy.baseUrl" . | quote }}
        - name: APPFLOWY_MAILER_SMTP_HOST
          {{- include "appflowy.smtpHost" . | nindent 10 }}
        - name: APPFLOWY_MAILER_SMTP_PORT
          {{- include "appflowy.smtpPort" . | nindent 10 }}
        - name: APPFLOWY_MAILER_SMTP_USERNAME
          {{- include "appflowy.smtpUsername" . | nindent 10 }}
        - name: APPFLOWY_MAILER_SMTP_EMAIL
          value: {{ .Values.smtp.fromEmail | quote }}
        - name: APPFLOWY_MAILER_SMTP_PASSWORD
          {{- include "appflowy.smtpPassword" . | nindent 10 }}
        - name: APPFLOWY_MAILER_SMTP_TLS_KIND
          value: {{ .Values.smtp.tlsKind | quote }}
        - name: AI_SERVER_HOST
          value: "{{ include "appflowy.fullname" . }}-ai"
        - name: AI_SERVER_PORT
          value: "5001"
        ports:
        - containerPort: 8000
        resources:
          {{- toYaml .Values.appflowy.cloud.resources | nindent 10 }}
        livenessProbe:
          httpGet:
            path: /api/health
            port: 8000
          initialDelaySeconds: 30
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "appflowy.fullname" . }}-cloud
spec:
  selector:
    app: appflowy-cloud
  ports:
  - port: 8000
