apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "appflowy.fullname" . }}-worker
  {{- with .Values.deploymentAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: appflowy-worker
  template:
    metadata:
      labels:
        app: appflowy-worker
    spec:
      containers:
      - name: worker
        image: {{ .Values.worker.image.repository }}:{{ .Values.worker.image.tag }}
        env:
        - name: RUST_LOG
          value: {{ .Values.worker.rustLog }}
        - name: APPFLOWY_ENVIRONMENT
          value: "production"
        {{- if and (not .Values.redis.enabled) (or .Values.appflowy.externalRedis.password.value .Values.appflowy.externalRedis.password.secret.name) }}
        - name: REDIS_PASSWORD
          {{- include "appflowy.redisPassword" . | nindent 10 }}
        {{- end }}
        - name: APPFLOWY_WORKER_REDIS_URL
          value: {{ include "appflowy.redisUrl" . | quote }}
        - name: APPFLOWY_WORKER_ENVIRONMENT
          value: "production"
        {{- if not .Values.postgresql.enabled }}
        - name: DB_USERNAME
          {{- include "appflowy.dbUsername" . | nindent 10 }}
        - name: DB_PASSWORD
          {{- include "appflowy.dbPassword" . | nindent 10 }}
        {{- end }}
        - name: APPFLOWY_WORKER_DATABASE_URL
          value: {{ include "appflowy.databaseUrl" . | quote }}
        - name: APPFLOWY_WORKER_DATABASE_NAME
          value: {{ .Values.appflowy.externalDatabase.database | quote }}
        - name: APPFLOWY_WORKER_IMPORT_TICK_INTERVAL
          value: {{ .Values.worker.importTickInterval | quote }}
        - name: APPFLOWY_S3_USE_MINIO
          value: {{ .Values.appflowy.s3.useMinio | quote }}
        - name: APPFLOWY_S3_MINIO_URL
          value: {{ .Values.appflowy.s3.minioUrl | quote }}
        - name: APPFLOWY_S3_ACCESS_KEY
          {{- include "appflowy.s3AccessKey" . | nindent 10 }}
        - name: APPFLOWY_S3_SECRET_KEY
          {{- include "appflowy.s3SecretKey" . | nindent 10 }}
        - name: APPFLOWY_MAILER_SMTP_HOST
          {{- include "appflowy.smtpHost" . | nindent 10 }}
        - name: APPFLOWY_MAILER_SMTP_PORT
          {{- include "appflowy.smtpPort" . | nindent 10 }}
        - name: APPFLOWY_MAILER_SMTP_USERNAME
          {{- include "appflowy.smtpUsername" . | nindent 10 }}
        - name: APPFLOWY_MAILER_SMTP_EMAIL
          value: {{ .Values.smtp.fromEmail | quote }}
        - name: APPFLOWY_MAILER_SMTP_PASSWORD
          {{- include "appflowy.smtpPassword" . | nindent 10 }}
        - name: APPFLOWY_MAILER_SMTP_TLS_KIND
          value: {{ .Values.smtp.tlsKind | quote }}
        - name: APPFLOWY_S3_BUCKET
          value: {{ .Values.appflowy.s3.bucket | quote }}
        - name: APPFLOWY_S3_REGION
          value: {{ .Values.appflowy.s3.region | quote }}
        resources:
          {{- toYaml .Values.worker.resources | nindent 10 }}
